*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.idea/
gradlew
gradlew.bat
gradle/wrapper/
*.jks
keystore/keystore.properties
/.kotlin
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE
.vscode/

# Logs
logcat.txt

# APK outputs
*.apk

# Keystore
keystore/*.jks